@page "/"

<PageTitle>Home</PageTitle>

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        @code {
            private string? userName;
            protected override async Task OnInitializedAsync()
            {
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                var user = authState.User;
                userName = user.Identity?.Name;
            }
        }
        <h1>Welcome, @userName!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You are not logged in.</h1>
    </NotAuthorized>
</AuthorizeView>