@page "/logout"
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <h1 class="display-1 fw-bold">403</h1>
                    <p class="fs-3"> <span class="text-danger">Logged out</span></p>
                    <p class="lead">
                        You've been logged out.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    override protected async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext!.User.Identity!.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();

            // Remove the JWT token cookie
            HttpContext.Response.Cookies.Delete("jwt_token");

            NavigationManager.NavigateTo("/login", true);
        }
    }
}