@rendermode InteractiveServer

<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated == true)
                {
                    <p>You don't have permission to access this resource.</p>
                    <a href="/">Return to Home</a>
                }
                else
                {
                    <p>You need to log in to access this page.</p>
                    <a href="/login">Go to Login</a>
                }
            </NotAuthorized>
            <Authorizing>
                <p>Checking authorization...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>